<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="scala.application">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Sync-Server/src/test/scala/RunWebApp.scala"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="RunWebApp"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Sync-Server"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-javaagent:/home/lee/projects/digiting/sync/server/lib/aspectjweaver.jar"/>
</launchConfiguration>
